img, video{
    width: 28%;
    height: auto;
    border: 5px solid black;
    margin: 5px;
}

.infobox{
    border: 5px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    right: 0%;
    top: 5%;
    padding: 10px;
    padding-right: 60px;
    box-shadow: -10px 5px 5px rgba(128, 128, 128, 0.6);
}

/* from: https://stackoverflow.com/questions/5183731/is-using-div-spacers-a-bad-practice/5183749 */
.third{
    font-size: 0;
    margin-left: 14%;
    height: auto;
    line-height: 0;
}

body {
    background-color: rgb(231, 231, 231);
}

/* control the top div */
#big-gif{
    display: flex;
}
#grid-gif{
    width:58.5%;
    display: flex;
    margin-top: 2.5%;
}
#big-gif-pic{
    width:28%;
    margin-right: 24px;
}
#grid-gif-pic{
    margin-right: 24px;
}

@media screen and (max-width: 800px) {
    img, video{
      width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .infobox{
        position: static;
        left: 50%;
        top: 0%;   
        box-shadow: none; 
        margin-bottom: 20px;
        background-color: white;
    }

    .third{
        margin-left: auto;
    }
    .even{
        margin-left: 14%;
    }
    #big-gif{
        display: inline;
        height: max-content;
    }
    #grid-gif{
        width: 80%;
        display:inline-block;
        margin-top: auto;
    }
    #big-gif-pic{
        width:80%;
        margin-right: 0px;
    }
    #grid-gif-pic{
        margin-right: 0;
    }
  }