@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: 'Alata', sans-serif;
    font-size: 14pt;
    background-image: url("images/tortoise.png");
    background-size: 50% 50%;
    animation: bg-zoom 600s linear infinite; /* <---- use this for the eyesore bg animation */
}

#content-container{
    /* misc */
    padding: 20px 50px ;
    text-align: center;
    /* vertical center alignment */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* horizontal center alignment */
    margin: auto;
    width: 50%;

    /* box */
    background-color: antiquewhite;
    border-radius: 25px;
}

#logo{
    font-size:48pt;
    display: inline;
}

.blog-list{
    width: fit-content;
    text-align: left;
    padding: 1px;
    width: 50%;
}

#progress-bar{
    width: 75%;
    height: 75%;
    padding: 40px;
}

.blog-link{
    margin: 5px;
    padding: 5px;
}
.socials{
    padding: 10px;
    align-content: center;
}
.social-icon{
    padding: 10px;
    border-radius: 5px;
}



/* hovering section */
.social-icon:hover {
    background-color: lightcoral;
    border-radius: 10px;
}
.blog-link:hover{
    background-color: lightcoral;
    border-radius: 10px;
}


/* eyesore background animation */
@keyframes bg-zoom {
	0% {
		background-size: 25% 25%;
	}
	25% {
		background-size: 50% 50%;
	}
    50% {
		background-size: 75% 75%;
	}
	100% {
		background-size: 100% 100%;
	}

}

@media screen and (max-width: 800px) {
    #content-container{
        padding: 25px;
        width: 75%;
        margin-top: 25%;
    }
    #logo{
        font-size: 36pt;
    }
    
    .blog-list{
        width: 100%;
    }
  }